<html>
body{
	font: 15px; Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
/* estilos globales */
.contenedor{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
ul{
	margin: 0;
	padding: 0;
}
.boton1{
	height: 38px;
	background: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
}
/* Encabesados*/
header{
	background-color: #24282b;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 5px solid #1293d4;
}
header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
header #marca{
	float: left;
}
header #marca h1{
	margin: 0;
}
header nav{
	float: right;
	margin-top: 10px;
}
header .resaltado, header .actual a{
	color: #1293d4;
	font-weight: bold;
}
header a:hover{
	color:#ccc;
	font-weight: bold;
} 
/*cabecera*/
#cabecera{
	min-height: 400px;
	background: url('../') no-repeat 0 -400px
	color:#fff;
}
#cabecera h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}
#cabecera p{
	font-size: 20px;
}
/*formulario boletin*/
#boletin{
	padding: 15px;
	color: #fff;
	background: #24282b;
}
#boletin h1{
	float: left;
}
#boletin form{
	float: right;
	margin-top: 15px;
}
#boletin input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}
/*cjas*/
#cajas{
	margin-top: 20px;
}
#cajas .caja{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px
}
#cajas .cajas img{
	width: 90px
}
/*lateral*/
aside#lateral{
	float: right;
	width: 30%;
	margin-top: 10px;
}
.oscuro{
	padding: 15px;
	background-color: #35424a;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*main col*/
article#main-col{
	float: left;
	width: 65%;
}
/* footer o pie de pagina*/
footer{
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background-color: #1293d4;
	text-align: center;
}
/*formuario*/
input, textarea{
	width: 100%;
	height: 35px;
	border: 3px solid gray;
	margin-bottom: 5px;
}
textarea{
	height: 120px;
}
input[type="submit"]{
	background-color: #e8491d;
	color: #fff;
}
